<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcavallo.colorName</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>20BE46A1-A089-4315-913F-26161E27B56F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B36C7BC-CEB0-4C58-A584-113472D84B51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22B4B667-33F1-44FE-9E22-4E340234DB49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>458EBB98-3084-4E41-9C6C-7739009DE2B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>458EBB98-3084-4E41-9C6C-7739009DE2B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20BE46A1-A089-4315-913F-26161E27B56F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E9FE24A-6942-4D4D-B56C-8B64151A0EDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E9FE24A-6942-4D4D-B56C-8B64151A0EDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>657A1459-7F46-4E7E-AAA9-2C6CFC718589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>657A1459-7F46-4E7E-AAA9-2C6CFC718589</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B4C8100-6E69-469B-831D-F726BB56D54A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mariano Cavallo</string>
	<key>description</key>
	<string>Get a name for a Hex or RGB bolor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Color Name</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4B36C7BC-CEB0-4C58-A584-113472D84B51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^install</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>20BE46A1-A089-4315-913F-26161E27B56F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cname</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/local/bin/node main.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Color Name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22B4B667-33F1-44FE-9E22-4E340234DB49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>458EBB98-3084-4E41-9C6C-7739009DE2B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>(cd "{query}" &amp;&amp; npm i)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0B4C8100-6E69-469B-831D-F726BB56D54A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^install</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4E9FE24A-6942-4D4D-B56C-8B64151A0EDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>install|</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>657A1459-7F46-4E7E-AAA9-2C6CFC718589</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B4C8100-6E69-469B-831D-F726BB56D54A</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>20BE46A1-A089-4315-913F-26161E27B56F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>22B4B667-33F1-44FE-9E22-4E340234DB49</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>458EBB98-3084-4E41-9C6C-7739009DE2B0</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>4B36C7BC-CEB0-4C58-A584-113472D84B51</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>4E9FE24A-6942-4D4D-B56C-8B64151A0EDF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>657A1459-7F46-4E7E-AAA9-2C6CFC718589</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
